#side-bar-nav a {
	display: flex;
	padding: 15px 30px 16px 15px;
	text-decoration: none;
	align-items: center;
}
#side-bar-nav a:not(#logoutItem) {
	border-bottom: 1px solid #dddddd;
}

#side-bar-nav a:hover {
	background-color: #dedede;
}

.nav-item-text {
	margin-left: 10px;
}

#logoutItem {
	border-top: 1px solid #dddddd;
	position: absolute;
	bottom: 0;
	width: -webkit-fill-available;
}
