<div class="feature-container mat-elevation-z8">
	<div class="feature-title">
		<h1>Mitglied bearbeiten</h1>

		<button mat-raised-button routerLink="/members">Zurück</button>
	</div>
	<form
		class="member-modify-form"
		#ngForm="ngForm"
		[formGroup]="memberModifyForm"
		(ngSubmit)="onSubmit(memberModifyForm)">
		<div class="form-field-container">
			<div class="form-field">
				<mat-form-field>
					<mat-label>Vorname</mat-label>
					<input
						matInput
						formControlName="prename"
						[(ngModel)]="member.prename" />
				</mat-form-field>
				<mat-error
					*ngIf="ngForm.submitted && memberModifyForm.controls?.['prename']?.errors?.['required']"
					class="validationMessage"
					>Der Vorname ist erforderlich.</mat-error
				>
				<mat-error
					*ngIf="ngForm.submitted && memberModifyForm.controls?.['prename']?.errors?.['minlength']"
					class="validationMessage"
					>Der Vorname muss mindestens 2 Zeichen lang sein.</mat-error
				>
				<mat-error
					*ngIf="ngForm.submitted && memberModifyForm.controls?.['prename']?.errors?.['maxlength']"
					class="validationMessage"
					>Der Vorname darf maximal 20 Zeichen lang sein.</mat-error
				>
			</div>
			<div class="form-field">
				<mat-form-field>
					<mat-label>Name</mat-label>
					<input
						matInput
						formControlName="name"
						[(ngModel)]="member.name" />
				</mat-form-field>
				<mat-error
					*ngIf="ngForm.submitted && memberModifyForm.controls?.['name']?.errors?.['required']"
					class="validationMessage"
					>Der Name ist erforderlich.</mat-error
				>
				<mat-error
					*ngIf="ngForm.submitted && memberModifyForm.controls?.['name']?.errors?.['minlength']"
					class="validationMessage"
					>Der Name muss mindestens 2 Zeichen lang sein.</mat-error
				>
				<mat-error
					*ngIf="ngForm.submitted && memberModifyForm.controls?.['name']?.errors?.['maxlength']"
					class="validationMessage"
					>Der Name darf maximal 30 Zeichen lang sein.</mat-error
				>
			</div>
		</div>
		<div class="form-field-container">
			<div class="form-field">
				<mat-form-field>
					<mat-label>Geburtstag</mat-label>
					<input
						matInput
						formControlName="birthday"
						matInput
						[min]="minDate"
						[max]="maxDate"
						[matDatepicker]="picker"
						[(ngModel)]="member.birthday" />
					<mat-datepicker-toggle
						matIconSuffix
						[for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
				<mat-error
					*ngIf="ngForm.submitted && memberModifyForm.controls?.['birthday']?.errors?.['required']"
					class="validationMessage"
					>Der Geburtstag ist erforderlich.</mat-error
				>
			</div>
			<div class="form-field">
				<mat-form-field>
					<mat-label>Strasse</mat-label>
					<input
						matInput
						formControlName="street"
						[(ngModel)]="member.street" />
				</mat-form-field>
				<mat-error
					*ngIf="ngForm.submitted && memberModifyForm.controls?.['street']?.errors?.['minlength']"
					class="validationMessage"
					>Die Strasse muss mindestens 5 Zeichen lang sein.</mat-error
				>
				<mat-error
					*ngIf="ngForm.submitted && memberModifyForm.controls?.['street']?.errors?.['maxlength']"
					class="validationMessage"
					>Die Strasse darf maximal 40 Zeichen lang sein.</mat-error
				>
			</div>
		</div>
		<div class="form-field-container">
			<div class="form-field">
				<mat-form-field>
					<mat-label>PLZ</mat-label>
					<input
						matInput
						formControlName="postcode"
						[(ngModel)]="member.postcode" />
				</mat-form-field>
				<mat-error
					*ngIf="ngForm.submitted && memberModifyForm.controls?.['postcode']?.errors?.['minlength']"
					class="validationMessage"
					>Die PLZ muss mindestens 4 Zeichen lang sein.</mat-error
				>
				<mat-error
					*ngIf="ngForm.submitted && memberModifyForm.controls?.['postcode']?.errors?.['maxlength']"
					class="validationMessage"
					>Die PLZ darf maximal 12 Zeichen lang sein.</mat-error
				>
			</div>
			<div class="form-field">
				<mat-form-field>
					<mat-label>Stadt</mat-label>
					<input
						matInput
						formControlName="city"
						[(ngModel)]="member.city" />
				</mat-form-field>
				<mat-error
					*ngIf="ngForm.submitted && memberModifyForm.controls?.['city']?.errors?.['minlength']"
					class="validationMessage"
					>Die Stadt muss mindestens 2 Zeichen lang sein.</mat-error
				>
				<mat-error
					*ngIf="ngForm.submitted && memberModifyForm.controls?.['city']?.errors?.['maxlength']"
					class="validationMessage"
					>Die Stadt darf maximal 30 Zeichen lang sein.</mat-error
				>
			</div>
		</div>
		<div class="form-field-container">
			<div class="form-field">
				<mat-form-field>
					<mat-label>E-Mail</mat-label>
					<input
						matInput
						formControlName="email"
						[(ngModel)]="member.email" />
				</mat-form-field>
				<mat-error
					*ngIf="ngForm.submitted && memberModifyForm.controls?.['email']?.errors?.['required']"
					class="validationMessage"
					>Die E-Mail ist erforderlich.</mat-error
				>
				<mat-error
					*ngIf="ngForm.submitted && memberModifyForm.controls?.['email']?.errors?.['email']"
					class="validationMessage"
					>Die E-Mail muss gültig sein.</mat-error
				>
				<mat-error
					*ngIf="ngForm.submitted && memberModifyForm.controls?.['email']?.errors?.['maxlength']"
					class="validationMessage"
					>Die E-Mail darf maximal 40 Zeichen lang sein.</mat-error
				>
			</div>
			<div class="form-field">
				<mat-form-field>
					<mat-label>Telefonnummer</mat-label>
					<input
						matInput
						formControlName="phone"
						[(ngModel)]="member.phone" />
				</mat-form-field>
				<mat-error
					*ngIf="ngForm.submitted && memberModifyForm.controls?.['phone']?.errors?.['minlength']"
					class="validationMessage"
					>Die Telefonnummer muss mindestens 6 Zeichen lang
					sein.</mat-error
				>
				<mat-error
					*ngIf="ngForm.submitted && memberModifyForm.controls?.['phone']?.errors?.['maxlength']"
					class="validationMessage"
					>Die Telefonnummer darf maximal 15 Zeichen lang
					sein.</mat-error
				>
			</div>
		</div>
		<div class="member-modify-submit-container">
			<button
				mat-raised-button
				color="primary"
				class="member-modify-submit">
				Speichern
			</button>
		</div>
	</form>
</div>
