.mat-sidenav-container {
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.25);
}

.mat-sidenav-container {
	min-height: 50vh;
}

.mat-sidenav {
	max-height: calc(100vh - 64px);
}

.container-spinner {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.15);
	z-index: 99999;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

@media screen and (max-width: 599px) {
	.mat-sidenav {
		max-height: calc(100vh - 56px);
	}
}
