<mat-toolbar color="primary">
	<button
		mat-icon-button
		(click)="sidenav.toggle()"
		*ngIf="navMode == 'over' && !loginPage">
		<mat-icon>menu</mat-icon>
	</button>
	<span>Vereinsverwaltung</span>
</mat-toolbar>
<mat-sidenav-container>
	<mat-sidenav
		#sidenav
		[mode]="navMode"
		[opened]="opened"
		class="bottom-to-top">
		<app-sidenav *ngIf="!loginPage"></app-sidenav>
	</mat-sidenav>
	<mat-sidenav-content>
		<div class="container-spinner" *ngIf="spinnerSpinning">
			<mat-spinner></mat-spinner>
		</div>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
