<div class="feature-container mat-elevation-z8">
	<div class="feature-title">
		<h1>Mitglieder</h1>
		<button mat-raised-button color="primary" routerLink="/member-add">
			Neues Mitglied
		</button>
	</div>
	<table
		mat-table
		[dataSource]="dataSource"
		class="member-overview-table"
		matSort
		matSortActive="prename"
		matSortDirection="asc">
		<ng-container matColumnDef="prename">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Vorname</th>
			<td mat-cell *matCellDef="let row">
				{{ row.prename }}
			</td>
		</ng-container>
		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
			<td mat-cell *matCellDef="let row">{{ row.name }}</td>
		</ng-container>
		<ng-container matColumnDef="birthday">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>
				Geburtstag
			</th>
			<td mat-cell *matCellDef="let row">
				{{ row.birthday }}
			</td>
		</ng-container>
		<ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef></th>
			<td mat-cell *matCellDef="let row" class="table-action-btns">
				<button
					mat-icon-button
					color="primary"
					(click)="showMember(row)">
					<mat-icon>edit</mat-icon>
				</button>
				<button
					mat-icon-button
					color="warn"
					(click)="openDeleteDialog(row)">
					<mat-icon>delete</mat-icon>
				</button>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>
	<mat-paginator
		#paginator
		[pageSizeOptions]="[10, 20, 30]"
		showFirstLastButtons></mat-paginator>
</div>
