.form-field-container {
	display: flex;
	margin-bottom: 10px;
}

.form-field {
	width: 50%;
}

.form-field-full {
	width: 100%;
}

.form-field:first-child {
	padding-right: 10px;
}

.form-field:last-child {
	padding-left: 10px;
}

@media screen and (max-width: 800px) {
	.form-field-container {
		display: block;
		margin-bottom: 0;
	}

	.form-field {
		width: 100%;
		margin-bottom: 10px;
	}

	.form-field:first-child {
		padding-right: 0;
	}

	.form-field:last-child {
		padding-left: 0;
	}
}

@media screen and (max-width: 500px) {
	.feature-title > h1 {
		font-size: 20px;
	}
}

.validationMessage {
	padding-left: 16px;
	padding-right: 16px;
}

.event-add-form mat-form-field {
	width: 100%;
}

.event-add-submit-container {
	display: flow-root;
	margin-top: 20px;
}

.event-add-submit {
	float: right;
}
